<nav data-nav class="flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<!-- Make sure to replace /img/logo.svg with your new health logo later -->
		<img src="/img/logo.svg" alt="Doctor's Plaza Logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<div data-mobile-menu class="mobile-menu-container">
		<svg viewBox="0 0 100 80" width="40" height="25" class="mobile-menu-icon">
			<rect class="menu-icon-top mobile-menu-inner" width="100" height="8"></rect>
			<rect class="menu-icon-middle mobile-menu-inner" y="30" width="100" height="8"></rect>
			<rect class="menu-icon-bottom mobile-menu-inner" y="60" width="100" height="8"></rect>
		</svg>
	</div>

	<ul class="flex b grey-3 nav-menu">
		<!-- Updated Menu Items -->
		<li><a href="/" class="pa3 no-underline db">Home</a></li>

		<li><a href="/supplements/" class="pa3 no-underline db">Supplements</a></li>

		<li><a href="/post/" class="pa3 no-underline db">Articles</a></li>

		<li><a href="/values/" class="pa3 no-underline db">About Us</a></li>

		<li><a href="/contact/" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
